.slider-container-md {
  width: 100vw;
  height: 50px;
  margin: 10px;
  margin-bottom: 25px;
}
.post-bgcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
}
.story-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.stories-name {
  font-size: 12px;
}
.story-container {
  margin: 15px;
  width: 90px;
  height: 60px;
}
ul {
  gap: 0px;
  margin: 0px;
  padding: 0px;
}
.slider-container-md {
  width: 70%;
  padding: 0px;
  height: 100px;
}
.loader-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.line {
  width: 100vw;
}
.homecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  text-decoration: none;
  color: black;
}

@media (max-width: 576px) {
  .line {
    width: 100vw;
  }
  .story-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .post-bgcontainer {
    width: 100vw;
  }
  .post-container {
    border: none;
    height: 500px;
    width: 100vw;
    font-size: 14px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    
  }
  .post-img {
    width: 100%;
    height: 280px;
  }
  .home-container {
    width: 100vw;
  }
  .story-container-md{
    width: 100vw;
    height: 50px;
    margin: 0px;
  }
  .stories-name {
    font-size: 8px;
    text-align: center;
  }
}

@media (max-width : 768px){
.post-img{
  height: 300px;
}.story-img{
  height: 70px;
  width: 70px;
}.slider-container-md{
  width: 90%;
}
}