.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.post-container {
  width: 80%;

  border: 2px solid #bfbfbf;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}
.post-img {
  width: 100%;
  height: 90vh;
}
.like-button {
  border: none;
  background-color: transparent;
}
.liked-btn {
  background-color: red;
}
.post-content {
  padding: 10px;
}
.comment-user {
  font-weight: bold;
}
.post-time {
  color: #bfbfbf;
}

@media (max-width : 768px){
.post-img{
  height: 700px;
}.post-container{
  width: 90%;
  height: 600px;
}
}